<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @fishing.title%>
      </p>
      <%= link_to "#{@fishing.user.name}", user_path(@fishing.user.id), class: :prototype__user %>
      <div class="prototype__image">
        <%= image_tag @fishing.image %>
      </div>
      <!-- いいね！ボタン -->
      <div class="iine">
        <%= form_with(model: @like, url: likes_path, local: true) do |f| %>
          <%= f.hidden_field :fishing_id, value: @fishing.id %>
          <%= f.submit 'いいね！' %>
        <% end %>   
      </div>
      <% if user_signed_in? && current_user.id == @fishing.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集", edit_fishing_path(@fishing.id), class: :prototype__btn %>
          <%= link_to "削除", fishing_path(@fishing.id), method: :delete, class: :prototype__btn %>
        </div>
      <% end %>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">釣果場所</p>
          <p class="detail__message">
            <%= @fishing.catch_copy %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">釣果の餌（ルアー）</p>
          <p class="detail__message">
            <%= @fishing.concept %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@fishing,@comment],local: true do |f|%>
            <div class="field">
              <%= f.label :text, "✨どんな魚料理ができるかコメントしよう✨" %><br />
              <%= f.text_area :text, id:"comment_content" ,size: 100%>
            </div>
            <div class="actions">
              <%= f.submit "投稿する", class: :form__btn  %>
            </div>
          <% end %>
          <% end %>
        <ul class="comments_lists">
          
          <% @comments.each do |comment| %>
            <li class="comments_list">
            <%= safe_join("#{comment.text}".split("\n"),tag(:br)) %>
              <%= link_to "投稿者 #{comment.user.name}", "/users/#{comment.user_id}", class: :comment_user %>
            </li>
            <% end %>
          
        </ul>
      </div>
    </div>
  </div>
</main>
